<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<header>twiapp</header>
<body>
<h1>投稿の編集</h1>
<div id="content">
    <%= render 'form' %>
</div>
</body>
<footer></footer>
</html>
